
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Services
        link(rel="stylesheet", href="style.css")
    body
        nav
            ul
                li  
                    a(href="/") HOME PAGE
                li 
                    a(href="Contactservice") CONATCT SERVICE
                li
                    a(href="Ourservice") OUR SERVICE
        main 
            h1 OUR SERVICE
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at aliquam, laudantium in quam, nam qui facilis explicabo numquam veritatis neque asperiores soluta vel consequatur aut esse voluptates corporis provident?